/A study on quality assessment of the surface EEG signal based on fuzzy comprehensive evaluation method.pdf
/Brain_Functional_Networks_Based_on_Resting-State_EEG_Data_for_Major_Depressive_Disorder_Analysis_and_Classification.pdf
/Depression explain Prof.jpeg
/Depression protocol AIIMS.jpeg
/Depression-Sample-dataset-AIIMS
/Depression.pdf
/Graphs
/Power-frequency-Notch filtered graph-EEG-P7.png
/Series.pptx
/time-amplitudeNotch filtered graph-EEG-P7.png
/Transcranial_Magnetic_Stimulation_in_the_Assessment_of_Motor_Cortex_Excitability_and_Treatment_of_Drug-Resistant_Major_Depression.pdf
/validating_EEG_quality.py
*.easy
*.info
/iitd
/MNE-Graphs
/Papers
/IEEE-Transactions-LaTeX2e-templates-and-instructions
/flow-depression-proj.excalidraw
/Flow.pptx
/BrainNetViewer_20191031
/loadData
